@using ChefsKiss.Web.Areas.Recipes.ViewModels.Recipes;

@model IEnumerable<RecipeInListViewModel>

<div class="container">
    <div class="row">
        @foreach (var recipe in Model)
        {
            <partial name="_RecipeInList" model="recipe" />
        }
        @foreach (var recipe in Model)
        {
            <partial name="_RecipeInList" model="recipe" />
        }
        @foreach (var recipe in Model)
        {
            <partial name="_RecipeInList" model="recipe" />
        }
        @foreach (var recipe in Model)
        {
            <partial name="_RecipeInList" model="recipe" />
        }
    </div>
</div>

