@using ChefsKiss.Web.Areas.Recipes.Models.Recipes;

@model IEnumerable<RecipeListViewModel>

<div id="recipes-list" class="row mx-auto">
    @foreach (var recipe in Model)
    {
        <partial name="_RecipeListPartial" model="recipe" />
    }
</div>

@section Scripts{
<script src="~/js/infinite-scrolling.js" asp-append-version="true"></script>
}
