@model IngredientDetailsViewModel

<h2 class="text-center display-4">All recipes prepared with: @Model.Name</h2>
<hr>
<div id="recipes-list" class="mx-auto">
    @foreach (var recipe in Model.Recipes)
    {
        <partial name="_RecipeListPartialRow" model="recipe" />
    }
</div>

@section Scripts{
<partial name="_InfiniteScrollScriptsPartial" />
<script>
    ConfigureInfiniteScroll('/Recipes/PagedByIngredientId', 1, { recipeId: @Model.Id });
</script>
}
