@model IEnumerable<RecipeListViewModel>

@{
    ViewBag.Title = "All recipes";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr>

<div id="recipes-list" class="row mx-auto">
    @foreach (var recipe in Model)
    {
        <partial name="_RecipeListPartialCard" model="recipe" />
    }
</div>

@section Scripts{
<partial name="_InfiniteScrollScriptsPartial" />
<script>
    ConfigureInfiniteScroll('/RecipesPaging/All', 1);
</script>
}
