@using ChefsKiss.Web.Areas.Recipes.ViewModels.Ingredients

@model IngredientFormModel

<div class="row ingredient pb-2">
    <input name="Ingredients[@Model.Index].Name" class="form-control col-4" placeholder="Ingredient" />
    <input name="Ingredients[@Model.Index].Quantity" class="form-control col-2 ml-1" placeholder="Quantity" />
    <select name="Ingredients[@Model.Index].MeasurementUnitId" class="form-control col-2 ml-1">
        @await Component.InvokeAsync("MeasurementUnitsList")
    </select>
</div>
