@using ChefsKiss.Web.Areas.Recipes.Models.Ingredients

@model IngredientViewModel

<div class="row ingredient pb-2">
    <input disabled class="form-control col-6" placeholder="Ingredient" asp-for="Name" />
    <input disabled class="form-control col-2 ml-1" placeholder="Quantity" asp-for="Quantity" />
    <select disabled class="form-control col-2 ml-1">
        <option>@Model.MeasurementUnit</option>
    </select>
</div>
