@using static ChefsKiss.Common.DataConstants

@model int

<p class="rating-bar p-0 m-0 form-control-lg">
    @for (int rating = Reviews.RatingMinValue; rating <= Reviews.RatingMaxValue; rating++)
    {
        var checkedStatus = rating <= Model ? "checked" : "unchecked";
        var marginLeft = rating >= 2 ? "ml-2" : string.Empty;

        <span class="rating-element fa fa-star @checkedStatus p-0 m-0 @marginLeft"></span>
    }
</p>
