@* Shows the ingredient and recipes where it's used *@
@using ChefsKiss.Web.Areas.Recipes.Models.Ingredients;

@model IngredientDetailsViewModel

<h2 class="text-center">All recipes prepared with @Model.Name</h2>
<hr>
<div id="recipes-list" class="mx-auto">
    @foreach (var recipe in Model.Recipes)
    {
        <partial name="_RecipeListPartialRow" model="recipe" />
    }
</div>

@section Scripts{
<script src="~/js/infinite-scrolling.js" asp-append-version="true"></script>
<script>
    ConfigureInfiniteScroll('PagedByIngredientId', 1, { recipeId: @Model.Id });
</script>
}
