:root {
    --color-success: rgb(33, 136, 56);
}

/* Backgrounds */
.animate-background {
    background: white;
    transition: background-color 200ms ease;
}

.animate-background:hover {
    background-color: lightblue;
}

/* Zooms */
.animate-zoom-sm {
    transition: all 250ms ease;
}

.animate-zoom-sm:hover {
    transform: scale(1.05);
}

.animate-zoom-md {
    transition: all 250ms ease;
}

.animate-zoom-md:hover {
    transform: scale(1.2);
}

/* Outlines */
.animate-outline {
    transition: all 250ms ease;
}

.animate-outline:hover {
    border-color: var(--color-success);
}
